/* VARIABLES GLOBALES PARA EL TEMA */
	/* FUENTES */
	$font-family-1											: 'Poppins', sans-serif;
	$font-family-2											: 'Lato', sans-serif;
	$font-family-3											: 'Niconne', sans-serif;

	/* ANCHOS DE PANTALLA */
	$max-width													: 1400px;
	$max-width-boostrap									: 1300px;
	$max-width-redx											: 960px;
	$max-width-footer										: 1320px;
	$max-width-general									: 1200px;
	$max-width-banner-init							: 1500px;

	/* COLORS - THEME */
	$theme-clr-primary									: #0D7AF2;
	$theme-clr-primary-light						: #9DCAFB;
	$theme-clr-primary-dark							: #2C54D1;
	$theme-clr-secondary								: #264EE1;
	$theme-clr-btns-sliders							: #0D7AF2;
	$theme-clr-btns-txt									: #FFFFFF;
	$theme-clr-btns											: #0D7AF2;
	$theme-cl-header-bottom							: #4A4A4A;
	$theme-clr-back-body-1							: #FFFFFF;
	$theme-clr-back-body-2							: #EAEDED;

	/* VARIABLE DE CONTENEDORES */
	$flag_contain-initprefix						: "c-mHm" !default;
	$flag_contain-lastprefix						: "_main" !default;