/* VARIABLES GLOBALES PARA EL TEMA */
	/* FUENTES */
	$font-family-1											: 'Poppins', sans-serif;
	$font-family-2											: 'Lato', sans-serif;
	$font-family-3											: 'Niconne', sans-serif;

	/* ANCHOS DE PANTALLA */
	$max-width													: 1400px;
	$max-width-boostrap									: 1300px;
	$max-width-redx											: 960px;
	$max-width-footer										: 1320px;
	$max-width-general									: 1200px;
	$max-width-banner-init							: 1500px;

	/* COLORS - THEME */
	$theme-clr-primary									: #263C97;
	$theme-clr-secondary								: #FCBE00;
	$theme-clr-btns-sliders							: #263C97;

	/* VARIABLE DE CONTENEDORES */
	$flag_contain-initprefix						: "c-mHm" !default;
	$flag_contain-lastprefix						: "_main" !default;