RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteBase /Dataplus

############PAGES FOR THE CLIENT
RewriteRule ^/?$ index.php
RewriteRule ^login?$ views/v_login.php
RewriteRule ^categoria/([0-9])/([A-Za-z0-9?+ÁÉÍÓÚáéíóú;:,{}"\[\]._-]+)$ views/v_category.php?idcateg=$1&namecateg=$2 [L,NC]
RewriteRule ^producto/([0-9])/([A-Za-z0-9?+ÁÉÍÓÚáéíóú;:,{}"\[\]._-]+)$ views/v_product.php?idprod=$1&nameprod=$2 [L,NC]
RewriteRule ^carrito?$ views/v_cart.php

############PAGES FOR THE ADMIN
RewriteRule admin?$ admin/index.php
RewriteRule dashboard?$ admin/views/dashboard.php
RewriteRule productos?$ admin/views/adm_products.php
RewriteRule categorias?$ admin/views/adm_categories.php
RewriteRule tarifas?$ admin/views/adm_rates.php
RewriteRule ajustes?$ admin/views/general-settings.php
RewriteRule savesettings?$ admin/controllers/c_update_config.php
RewriteRule logout-adm?$ admin/controllers/prcss_logout-adm.php

############# EVITAR QUE SE INGRESE A LAS CARPETAS
Options -Indexes

############# MENSAJE DE ERROR PERSONALIZADO
RewriteRule 404?$ views/404.php
#ErrorDocument 404 /views/404.php