/* VARIABLES GLOBALES PARA EL TEMA */
	/* FUENTES */
	// $font-family-1											: "Poppins", sans-serif;
	$font-family-1											: "Roboto", sans-serif;

	/* ANCHOS DE PANTALLA */
	$max-width													: 1400px;
	$max-width-redx											: 960px;
	$max-width-footer										: 1320px;
	$max-width-m												: 440px;

	/* COLORS - THEME */
	$theme-clr-primary									: #263C97;
	$theme-clr-btns											: #263C97;
	$theme-clr-btns-hover								: #55B9AF;
	$theme-clr-btns-txt									: #FFFFFF;
	$theme-clr-paragraph								: #8E8E8E;
	$theme-clr-titles										: #3A3F51;
	$theme_clr-titles-header						: #FFFFFF;
	$theme-clr-btn-success							: #27C24C;

	/* COLORS - ADMINISTRATOR */
	$theme-clr-bg-header								: #0D7AF2;
	$theme-clr-bg-dashboard							: #263C97;