/* HOME - LOGIN */
.c-hTop_header{
	background-color: $theme-clr-primary;
	&__c{
		&__cont{
			&__cLogo{
				&.lh-login{
					line-height: 3.874;
				}
				&__cLink{
					display: table;
					h1{
						color: transparent;
						position: absolute;
						width: 1px;
						height: 1px;
						font-size: 1px;
					}
					&__ctLogo{
						display: table;
						vertical-align: middle;
						max-width: 175px;
						width: 100%;
  					height: auto;
  					img{
  						width: 100%;
  					}
					}
				}
			}
		}
	}
}


/* HOME - SECTIONS */
.hfdtpls__sec{
	&--cFeatures{
		&__m{
			&__i{
				&__c{
					&--cIcon{
						i{
							color: $theme-clr-secondary;
						}
						span{
							display: flex;
							align-items: center;
							justify-content: center;
							text-align: center;
							max-width: 50px;
							max-height: 50px;
							width: 50px;
							height: 50px;
							svg{
								max-width: 50px;
								max-height: 50px;
								width: 50px;
								height: 50px;
								fill: $theme-clr-secondary;
							}
						}
					}
					&--cCont{
						h6{

						}
						p{

						}
					}
				}
			}
		}
	}
}