.cM-prod-det__tabs{
	&__c{	
		&__m{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-flow: wrap row;
			flex: 0 0 100%;
			border-bottom: 2px solid #bcbcbc;
			&--i{
				display: block;
				flex: 100%;
				cursor: pointer;
				padding: 0.5rem 0;
				line-height: 1.2;
				text-align: center;
				border-bottom: 3px solid #000;
				position: relative;
				top: 1px;
				@media (min-width: 768px){
					flex: 50%;
				}
				@media (min-width: 991px){
					border-bottom: 4px solid transparent;
					flex: 33.3333%;
				}
				span{
					text-align: center;
				  text-transform: uppercase;
				}
				&.active{
					border-bottom: 3px solid blue;
					@media (min-width: 991px){
						border-bottom: 4px solid blue;
					}
			    span{
						font-size: 16px;
				    color: blue;
				    font-weight: 600;
			    }
				}
			}
		}
	}
}
.cM-prod-det__anchors{
	&__c{
		&__m{
			&--i{
				display: none;
				opacity: 0;
				visibility: hidden;
				user-select: none;
				&.active{
					display: block;
					opacity: 1;
					visibility: visible;
					user-select: auto;
				}
			}
		}
	}	
}