@use '../utils' as *;
/*----------------------------------------*/
/*  18. footer CSS
/*----------------------------------------*/

.footer{
    &__widget{
        margin-bottom: 40px;
        &-title{
            & h4{
                font-size: 18px;
                color: $white;
                text-transform: capitalize;
                margin-bottom: 18px;
                font-weight: 500;
            }
            &-2{
                & h4{
                    color: $white;
                }
            }
            &-4{
                & h4{
                    color: $black-2;
                }
            }
        }
        &-content{
            & p{
                color: $grey-2;
                & br{
                    @media #{$xs} {
                        display: none;
                    }
                }
            }
            & .provide-text {
                & a{
                    text-decoration: underline;
                    font-style: italic;
                    &:hover{
                        color: $s-blue;
                    }
                }
            }
        }
    }
    &__hotline{
        & .icon{
            & i{
                font-size:55px;
                color: $d-yellow;
            }
        }
        & .icon-2{
            & i{
                color: $s-blue;
            }
        }
        & .text{
            & h4{
                font-size: 14px;
                color: $grey-2;
                margin-bottom: 0;
            }
            & span{
                font-size: 18px;
                font-weight: 500;
                color: $d-yellow;
            }
        }
        & .text-2{
            & span{
                color: $s-blue;
            }
        }
        &-4{
            & .icon{
                & i{
                    color: $white;
                }
            }
            & .text{
                & span{
                    color: $white;
                }
            }
        }
    }
    &__info{
        & ul{
            & li{
                margin-bottom: 5px;
                & span{
                    @media #{$lg} {
                        font-size: 13px;
                    }
                    font-size: 14px;
                    color: $grey-2;
                }
            }
        }
        &-4{
            & ul{
                & li{
                    & span{
                        color: $black-2;
                    }
                }
            }
        }
    }
    &__link{
        & ul{
            & li{
                margin-bottom: 8px;
                & a{
                    color: $grey-2;
                    font-size: 14px;
                    @media #{$lg} {
                        font-size: 13px;
                    }
                    &:hover{
                        color: $d-yellow;
                        padding-left: 5px;
                    }
                }
            }
        }
        &-2{
            & ul{
                & li{
                    & a{
                        color: $black-2;
                    }
                }
            }
        }
        &-4{
            & ul{
                & li{
                    & a{
                        color: $black-2;
                        &:hover{
                            color: $d-red;
                        }
                    }
                }
            }
        }
    }
    &__link-2{
        & ul li {
            & a{
               color: $grey-2;
                &:hover{
                color: $s-blue;
                }
            }
        }
    }
    &__links{
        & p{
            margin-bottom: 0;
            & br{
                @media #{$lg,$md,$sm,$xs} {
                    display: none;
                }
            }
            & a{
                color: $grey-2;
                font-size: 14px;
                padding: 0 10px;
                position: relative;
                &::before{
                    content: '/';
                    position: absolute;
                    top: 0;
                    right: 0;
                    opacity: 0.2;
                    transform: translateX(50%);
                    color: $grey-2;
                    top: -3px;
                }
                &:hover{
                    color: $d-yellow;
                }
                &:last-child{
                    &::before{
                        display: none;
                    }
                }
            }
        }
    }
    &__links-d{
        & p{
            & a{
                &::before{
                    content: "|";
                }
                &:hover{
                    color: $s-blue;
                }
            }
        }
    }
    &__bottom-content{
        border-top: 1px solid #FFFFFF1A;
    }
    &__bottom-content-2{
        border-top: 0;
    }
    &__newsletter-form{
        position: relative;
        & .ft-newsl{
            width: 100%;
            height: 50px;
            background-color: $white;
            position: relative;
            z-index: 1;
            font-size: 13px;
            padding: 10px 20px;
            border-radius: inherit;
            box-shadow: none ;
            border: 1px solid transparent;
            border-radius: 2px;
            padding-right: 140px;
            transition: .3s;
            &:focus{
                border: 1px solid $s-blue;
            }
            &::-moz-placeholder {
                color: $grey;
                font-size: 13px;
                opacity: 1;
            }
            &::placeholder {
                color: $grey;
                font-size: 13px;
                opacity: 1;
            }
        }
        & .ft-newsl-btn{
            position: absolute;
            background: $s-blue;
            color: $white;
            padding: 12px 32px;
            font-size: 13px;
            right: 0px;
            z-index: 2;
            text-transform: uppercase;
            font-weight: 500;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
    }
    &__bottom-2{
        border-top: 1px solid #FFFFFF1A;
    }
}
.footer-col-2{
    margin-left: 30px;
    @media #{$md,$sm,$xs} {
        margin-left: 0;
    }
}
.copy-right-area{
    & p{
        color: $grey-2;
        & span{
            color: $d-yellow;
            display: inline-block;
        }
    }
}
.copy-right-area-2{
    & p{
        & span{
            color: $s-blue;
        }
    }
}
.payment-image{
    & img{
        @media #{$xs} {
            width: 100%;
        }
        width: auto;
    }
}


/* RECIENTEMENTE AGREGADO */
.catalog-footer-event{
    background-color: #fff;
}
.footer-sup {}

.texto-seo {
    min-height: 20px !important;
    margin: 0px;
}

.btnfooter {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-flow: row wrap !important;
}

.btnfooter img {
    display: table;
    margin: 0px !important;
    width: 20px !important;
    height: 20px !important;
    padding-right: 5px;
}
#footer-evento {
    background-color: #F3F3F3;
    display: inline-block;
    width: 100%;
    position: relative;
}

#footer-evento>.container {
    max-width: 1400px;
}

#footer-evento .content-bloques {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#footer-evento .title-footer {
    color: #007aff;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#footer-evento .text-footer {
    color: #5d5d5d;
    font-size: 12px;
    text-align: justify;
}
#footer-evento .text-footer a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
#footer-evento .text-footer a:hover{
    color: #007aff;
    text-decoration: underline;
    cursor: pointer;
}
.rhbanndcontenido a{
    text-decoration: none !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}
.rhbanndcontenido a img{
    margin: 0 auto;
    display: table;
    height: 70px;
}
.rhbanndcontenido a .txt-title{
    font-size: 1rem;
    padding: 0;
    margin: 0;
    color: #007aff;
}
.rhbanndcontenido a .txt-desc{
    font-size: 12px;
    min-height: 36px;
    color: rgba(93, 93, 93, 1);
    text-decoration: none;
    text-align: center;
    line-height: 18px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.rhbanndcontenido a .texto-seo{
    min-height: 20px !important;
    margin: 0px;
}
.txt-desc-fbottom-paragraph{
    padding:5px 0; 
    text-align:center; 
    font-size:10px; 
    line-height:14px;
}
.txt-desc-fbottom-paragraph p{
    color: #333;
    font-size:10px;
}
#rhbannd{
    max-width: 1400px;
    padding-top: 40px;
    padding-bottom: 20px;
}
#rhbannd .row{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 0 0 100%;
    flex-flow: row wrap;
}
@media only screen and (max-width: 768px){
    #rhbannd .row .col-md-2 {
        width: calc(100% / 2);
    }
}
#rhbannd .row .col-md-2 {
    width: calc(100% / 7);
    flex: auto;
}
.ripley-footer__banner {
    width: 100%;
    background: #007aff;
    max-height: 40px;
    overflow: hidden;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}
.ripley-footer__links-container {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    background: 0 0;
}
.texto-seoa{
    color: #ffffff;
    text-decoration: none !important;
}
.btnfooterv2{
    display: flex !important;
    justify-content: center;
}
.ripley-footer__links-container .mobile-list-label {
    text-align: left;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    font-size: 3.75vw;
}
.mobile-list-menu{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex: 0 0 100%;
}
.ripley-footer__links-container .link {
    display: inline-block;
    margin: 5px 0;
    padding: 10px 0;
    width: 100%;
    color: #fff;
    background: 0 0;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: column nowrap;
    flex: auto;
}
.ripley-footer__links-container .link img{
    display: table;   
}
.ripley-footer__links-container .link:hover{
    color: #0056b3;
}
.ripley-footer__links-container .link__icon-container {
    display: inline-block;
    width: 18%;
    text-align: center;
}
.ripley-footer__links-container .link__content {
    padding: 2px 0;
    line-height: 1;
    display: inline-block;
    position: relative;
}
.ripley-footer__links-container .link__content span{
    display: block;
}
.ripley-footer__links-container .link__title {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px;
}
.ripley-footer__links-container .link__text {
    line-height: 1.2;
    font-weight: 200;
    font-size: 11px;
}
.ripley-footer__main-section {
    width: 100%;
    background: #2f2f2f;
    overflow: hidden;
    padding-bottom: 25px;
}
.ripley-footer__main-section-inner {
    width: 100%;
    color: #fff;
    max-width: 1140px;
    margin: 0 auto !important;
}
.ripley-footer__marketing {
    width: 100%;
}
.ripley-footer__marketing-2 {
    margin-bottom: 25px;
}
.ripley-footer__main-section .main-links {
    background: 0 0;
    padding: 0 15px;
    margin-bottom: 25px;
}
.ripley-footer__main-section .main-links .row {
    margin: 0 auto;
}
.ripley-footer__main-section .main-links__column {
    display: inline-block;
    border-bottom: 1px solid gray;
    padding: 5px 0;
}
.ripley-footer__main-section .main-links__title {
    padding-top: 6px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
.ripley-footer__main-section .mobile-list-label {
    text-align: left;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
}
.ripley-footer__main-section .main-links__list {
    display: block;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.ripley-footer__main-section .mobile-list-label__icon, .ripley-footer__main-section .mobile-list-label__text {
    pointer-events: none;
}
.ripley-footer__main-section .mobile-list-label__text {
    display: inline-block;
    // width: 95%;
}
.ripley-footer__main-section .main-links__text {
    line-height: 3;
}
.ripley-footer__main-section .mobile-list-label__icon, .ripley-footer__main-section .mobile-list-label__text {
    pointer-events: none;
}
.ripley-footer__main-section .mobile-list-label__icon {
    display: inline-block;
    width: 5%;
    height: 10px;
    position: absolute;
}
.ripley-footer__main-section .main-links__list a {
    text-decoration: none;
    color: inherit;
}
.ripley-footer__main-section .main-links__list a:hover{
    color: gray;
}
.ripley-footer__main-section .right-column {
    padding: 0 15px;
}
.ripley-footer__main-section .right-column__container {
    width: 100%;
    padding: 15px 0;
}
.ripley-footer__main-section .right-column__payment {
    margin-bottom: 15px;
}
.ripley-footer__main-section .right-column__social {
    overflow: hidden;
    margin: 0;
    padding: 0;
    float: left;
}
.ripley-footer__main-section .right-column__title {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
    display: block;
}
.ripley-footer__main-section .right-column__subscribe-form-container {
    height: 40px;
    overflow: visible;
    margin-bottom: 30px;
}
.ripley-footer__main-section .right-column__subscribe-form-container--peru {
    margin-bottom: 50px;
}
.ripley-footer__main-section .right-column__subscribe-form {
    display: inline;
}
.ripley-footer__main-section .right-column__subscribe-form .cont-frmgroupinput{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;
    line-height: 35px;
}
.ripley-footer__main-section .right-column__subscribe-form .invalid-legal-agreement, .ripley-footer__main-section .right-column__subscribe-form .invalid-mail {
    background: #e65253;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    position: absolute;
    top: 80px;
    left: 16px;
    text-align: center;
    display: none;
}
.ripley-footer__main-section .right-column__subscribe-input-field {
    width: 60%;
    color: #222;
    height: 100%;
    border: none;
    border-radius: 5px 0 0 5px;
    border: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}
.ripley-footer__main-section .right-column__subscribe-input-button {
    text-decoration: none;
    color: inherit;
    border: none;
    font-weight: 400;
    padding: 5px 10px;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    width: 40%;
    height: 100%;
    border-radius: 0 5px 5px 0;
    background: #007aff;
}
.ripley-footer__main-section .right-column__subscribe-form .legal-agreement {
    display: block;
    font-size: 11px;
    margin-top: 10px;
    position: relative;
}
input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
.ripley-footer__main-section .right-column__subscribe-form .legal-agreement__check, .ripley-footer__main-section .right-column__subscribe-form .legal-agreement input {
    position: absolute;
    left: 0;
    height: 14px;
    width: 14px;
    top: 0;
}
.ripley-footer__main-section .right-column__subscribe-form .legal-agreement input {
    opacity: 0;
    z-index: -1;
}
.ripley-footer__main-section .right-column__subscribe-form .legal-agreement__check, .ripley-footer__main-section .right-column__subscribe-form .legal-agreement input {
    position: absolute;
    left: 0;
    height: 14px;
    width: 14px;
    top: 0;
}
.ripley-footer__main-section .right-column__subscribe-form .legal-agreement__check {
    border: 1px solid #70578b;
    border-radius: 2px;
    background: #fff;
}
.ripley-footer__main-section .right-column__subscribe-form .legal-agreement__check svg {
    display: none;
    background: inherit;
    fill: #70578b;
    width: 10px;
    height: 10px;
    top: 1px;
    left: 1px;
    position: absolute;
}
.ripley-footer__main-section .right-column__subscribe-form .legal-agreement span {
    margin-left: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ripley-footer__main-section .right-column__subscribe-form .legal-agreement a {
    color: #007aff;
}
.ripley-footer__main-section .right-column__payment {
    margin-bottom: 15px;
}
.ripley-footer__main-section .right-column__title {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
    display: block;
}
.ripley-footer__main-section .right-column__payment-method {
    display: inline-block;
    background: 0 0;
    height: 35px;
    width: 45px;
    margin: 0 2px;
    border: none;
    border-radius: 5px;
    overflow: visible;
}
.ripley-footer__main-section .right-column__payment ul{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 0 0 100%;
}
.ripley-footer__main-section .right-column__payment ul li{
    flex: auto;
}
.ripley-footer__main-section .right-column__payment-method--pagoefectivo {
    width: 90px;
}
.ripley-footer__main-section .right-column__payment-icon {
    height: 100%;
    width: 100%;
    margin: 0 2px;
    fill: #fff;
}
.ripley-footer__main-section .right-column__social {
    overflow: hidden;
    margin: 0;
    padding: 0;
    float: left;
}
.ripley-footer__social-icons a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none !important;
}
.ripley-footer__social-icons a:first-of-type {
    margin-left: 0;
}
.ripley-footer__social-icons a i {
    display: block;
    text-decoration: none;
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 18px;
    overflow: hidden;
    border-radius: 100%;
    background: #fff;
    color: #6a6a6a;
}
.ripley-footer__social-icons a:hover i.fa-facebook {
    background: #3b5998;
    color: #fff;
}
.ripley-footer__social-icons a:hover i.fa-twitter {
    background: #55acee;
    color: #fff;
}
.ripley-footer__social-icons a:hover i.fa-youtube {
    background: red;
    color: #fff;
}
.ripley-footer__main-section .bottom-legal {
    font-weight: 400;
    text-align: left;
    padding: 10px 15px;
    margin-top: 30px;
}
.ripley-footer__main-section .bottom-legal__separator {
    width: 100%;
    margin: 10px 0;
    border: none;
    font-size: 12px;
}
.ripley-footer__main-section .bottom-legal__legal-text {
    color: gray;
    font-size: 11px;
}
/* MEDIA QUERIES */
@media (min-width: 400px){
    .ripley-footer__links-container {
        text-align: center;
    }
    .ripley-footer__links-container .link {
        height: auto;
        width: 50%;
        padding: 0 10px 2vw;
    }
    .ripley-footer__links-container .link {
        float: left;
    }
    .ripley-footer__links-container .link__content {
        display: inline-block;
    }
    .ripley-footer__links-container .link__icon-container {
        display: block;
        padding: 10px;
        margin: 0 auto;
        height: 70px;
        width: 70px;
    }
    .ripley-footer__links-container .link__text {
        padding: 0 10px;
        font-size: 13px;
    }
}
@media (min-width: 768px){
    .ripley-footer__links-container {
        width: 100%;
        overflow: hidden;
        background: 0 0;
    }
    .ripley-footer__banner {
        max-height: 700px;
    }
    .ripley-footer__links-container .mobile-list-label {
        text-align: center;
        margin-bottom: 25px;
        display: none
    }
    .ripley-footer__links-container .link {
        width: 30%;
        height: 100%;
        margin: 0 0 6px;
        padding: 0 5px;
        -webkit-transition: color .15s ease;
        transition: color .15s ease;
    }
    .ripley-footer__links-container .link__content {
        font-size: 14px;
    }
    .ripley-footer__links-container .link__text {
        padding: 0;
    }
    .ripley-footer__main-section {
        padding: 35px 0;
        font-size: 12px;
    }
    .ripley-footer__main-section .main-links {
        padding: 0;
        padding-left: 30px;
        margin-bottom: 0;
    }
    .ripley-footer__main-section .main-links__column {
        border: none;
        float: none;
    }
    .ripley-footer__main-section .main-links__column:nth-of-type(2) {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    .ripley-footer__main-section .main-links__column--peru:nth-of-type(2) {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }
    .ripley-footer__main-section .main-links__column:nth-of-type(3), .ripley-footer__main-section .main-links__column:nth-of-type(4) {
        display: inline-block;
        margin-top: 0;
    }
    .ripley-footer__main-section .mobile-list-label {
        text-align: center;
        margin-bottom: 25px;
    }
    .ripley-footer__main-section .main-links__title {
        text-align: left;
        padding-top: 0;
        display: block;
        font-size: 14px;
        margin-bottom: 25px;
        pointer-events: none;
    }
    .ripley-footer__main-section .main-links__list {
        max-height: 700px;
        text-align: left;
    }
    .ripley-footer__main-section .mobile-list-label__text {
        display: inline;
        font-size: 15px;
        font-weight: 700;
    }
    .ripley-footer__main-section .main-links__text {
        font-size: 14px;
        line-height: 2;
    }
    .ripley-footer__main-section .mobile-list-label__icon {
        display: none;
    }
    .ripley-footer__main-section .right-column__container {
        padding-top: 5px;
    }
    .ripley-footer__main-section .right-column__title {
        font-size: 14px;
    }
    .ripley-footer__main-section .right-column__subscribe-form-container {
        height: 35px;
        font-size: 10px;
    }
    .ripley-footer__main-section .right-column__subscribe-input-field {
        width: 60%;
    }
    .ripley-footer__main-section .right-column__subscribe-input-button {
        width: 40%;
    }
    .ripley-footer__main-section .right-column__title {
        font-size: 14px;
    }
    .ripley-footer__social a {
        margin: 0 3px;
    }
    .ripley-footer__main-section .bottom-legal {
        text-align: center;
        padding-top: 25px;
    }
}
@media (min-width: 991px){
    .ripley-footer__links-container {
        width: 90%;
        max-width: 1140px;
        width: 100%;
    }
    .ripley-footer__links-container .link {
        width: 20%;
    }
    .ripley-footer__links-container .link {
        width: 16.66%;
        float: left;
    }
    .ripley-footer__main-section-inner {
        width: 90%;
        padding: 0 30px;
    }
    .ripley-footer__main-section .main-links {
        padding-left: 0;
    }
    .ripley-footer__main-section .main-links__column:nth-of-type(2) {
        margin-left: -25px;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .ripley-footer__main-section .main-links__column--peru:nth-of-type(2) {
        -webkit-transform: translateX(45px);
        transform: translateX(45px);
    }
    .ripley-footer__main-section .main-links__column:nth-of-type(3) {
        padding-left: 50px;
    }
    .ripley-footer__main-section .right-column {
        padding-right: 0;
    }
    .ripley-footer__main-section .right-column__subscribe-form-container {
        font-size: 12px;
    }
}